---
title: Schuuss is amazing
description: >
  Something Nuts!
  Multiple lines
---

<section id="landing" class="container-fluid">
  <div class="outer">
    <div class="middle">

      <div class="row" id="hero">

        <!-- BEGIN content -->
        <div class="col-sm-6 col-sm-offset-3">

          <h1>Introducing Schuuss</h1>

          <h2>
            Booking ski and snowboard instructors made easy and cheaper
          </h2>

          <form action="//schuuss.us6.list-manage.com/subscribe/post?u=a09b830fdeac5ef54a112bac0&amp;id=3bc26dd70e" method="post" autocomplete="off">
            <div class="input-group ">
              <input type="email" name="EMAIL" class="form-control" placeholder="register interest">
              <span class="input-group-btn">
                <button class="btn btn-default" name="subscribe" type="submit">
                  <i class="fa fa-paper-plane-o"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
        <!-- END content -->

      </div>
    </div>
  </div>
</section>

<section id="pick" class="container-fluid feature">
  <div class="outer">
    <div class="middle">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">

        <!-- BEGIN content -->
        <div class="col-md-6 col-md-push-6">
          <h2>
            Pick your instructor based on what you are looking to learn. 
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc mollis tortor sed sapien rhoncus tincidunt.<br />
            Fusce augue mi, scelerisque vel gravida eget, venenatis sit amet dolor. Praesent dignissim vitae ligula sed suscipit. Integer tempor egestas neque, nec pretium dui eleifend vitae.
          </p>
        </div>
        <div class="col-md-5 col-md-pull-6">
          <%= image_tag 'pick_your_instructor.png', class: 'img-responsive' %>
          <%= image_tag 'pick_your_instructor.png', class: 'img-responsive' %>
        </div>
        <!-- END content -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container-fluid feature" id="screening">
  <div class="outer">
    <div class="middle">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">

            <!-- begin content -->
            <div class="col-md-5">
              <h2>
                Guarantee of only the best ski and snowboard instructors
              </h2>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Nunc mollis tortor sed sapien rhoncus tincidunt.<br />
              Fusce augue mi, scelerisque vel gravida eget, venenatis sit amet dolor. Praesent dignissim vitae ligula sed suscipit. Integer tempor egestas neque, nec pretium dui eleifend vitae.
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag 'instructor_screening.png', class: 'img-responsive' %>
            </div>
            <!-- end content -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="guarantees" class="container-fluid feature">
  <div class="outer">
    <div class="middle">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">

        <!-- begin content -->
        <div class="col-md-4">
          <%= image_tag 'pound_icon.png', class: 'img-responsive' %>
          <h3>Value</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc mollis tortor sed sapien rhoncus tincidunt.<br />
          </p>
        </div>
        <div class="col-md-4">
          <%= image_tag 'shake_icon.png', class: 'img-responsive' %>
          <h3>Reliable</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc mollis tortor sed sapien rhoncus tincidunt.<br />
          </p>
        </div>
        <div class="col-md-4">
          <%= image_tag 'safe_icon.png', class: 'img-responsive' %>
          <h3>Safe</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc mollis tortor sed sapien rhoncus tincidunt.<br />
          </p>
        </div>
        <!-- end content -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
