---
title: Schuuss is amazing
description: >
  Something Nuts!
  Multiple lines
---

<section id="landing" class="container-fluid">
  <div class="outer">
    <div class="middle">

      <div class="row" id="hero">

        <!-- BEGIN content -->
        <div class="col-sm-6 col-sm-offset-3">

          <h1>Introducing Schuuss</h1>

          <h2>
            A simple and affordable way to book ski and snowboard instructors.
          </h2>

          <form action="//schuuss.us6.list-manage.com/subscribe/post?u=a09b830fdeac5ef54a112bac0&amp;id=3bc26dd70e" method="post" autocomplete="off">
            <div class="input-group ">
              <input type="email" name="EMAIL" class="form-control" placeholder="Enter your email address for more information">
              <span class="input-group-btn">
                <button class="btn btn-default" name="subscribe" type="submit">
                  <i class="fa fa-paper-plane-o"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
        <!-- END content -->

      </div>
    </div>
  </div>
</section>

<section id="select-instructor" class="container-fluid feature">
  <div class="outer">
    <div class="middle">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">

        <!-- BEGIN content -->
        <div class="col-md-6 col-md-push-6">
          <h2>
            Pick your instructor.
          </h2>
          <p>
            The opportunity to pick and choose your instructor is usually a rare privilege.
            <br>
            <br>
            With Schuuss you have complete freedom to pick the perfect instructor for you.
            Instructors can be searched and filtered by fluency in language, areas specialism,
            instructor qualification, customer rating and much more.
          </p>
        </div>
        <div class="col-md-5 col-md-pull-6 tiles-overflow">

          <div class="row">
            <div class="tiles-container-outer">
            <div class="tiles-container-inner">
            <% 1.upto(3).each do |number| %>
              <%= image_tag "instructor_tiles/tile_#{number}.jpg", class: 'img-responsive' %>
            <% end %>
            </div>
            </div>
          </div>

        </div>
        <!-- END content -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container-fluid feature" id="screening">
  <div class="outer">
    <div class="middle">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">

            <!-- begin content -->
            <div class="col-md-5">
              <h2>
                Only the best quality instructors.
              </h2>
              <p>
                All of our instructors go through an extensive in-person screening and certification
                process to ensure you only receive the very best quality instruction.
                Instructors can only join our platform if they have top qualification for their location.
                <br>
                <br>
                Additionally, we ask our customers to rate the quality of their lessons.
                All instructors must continue to receive top reviews to stay part of the service.
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag 'instructor_screening.png', class: 'img-responsive' %>
            </div>
            <!-- end content -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="guarantees" class="container-fluid feature">
  <div class="outer">
    <div class="middle">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">

        <!-- begin content -->
        <h2>
          We make the booking process cheaper, fairer and safer.
        </h2>
        <div class="col-md-4">
          <%= image_tag 'pound_icon.png', class: 'img-responsive' %>
          <h3>Cheaper</h3>
          <p>
            We only take a very small commission for each booking making the lessons cheaper for you and more valuable for the instructors.
          </p>
        </div>
        <div class="col-md-4">
          <%= image_tag 'shake_icon.png', class: 'img-responsive' %>
          <h3>Fairer</h3>
          <p>
            We have a 100% no hidden fees refund policy up to 24 hours before your lesson and you can change a booking at anytime for absolutely no cost.
          </p>
        </div>
        <div class="col-md-4">
          <%= image_tag 'safe_icon.png', class: 'img-responsive' %>
          <h3>Safer</h3>
          <p>
            Safety is our top priority. All instructors are required to have the best insurance and all of our user info is secured with the most cutting edge technology.
          </p>
        </div>
        <!-- end content -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
